.filters-section {
  padding: 0.8rem 0;

  .custom-container {
    display: flex;
    justify-content: space-between;

    .btn {
      background-color: transparent;
      border: 1px solid #80808038;
      outline: none;
      cursor: pointer;
      user-select: none;

      vertical-align: middle;
      padding: 0.6em 0.8em 0.5em 0.8em;

      border-radius: 0.2rem;

      font-size: 0.8rem;
      font-weight: 600;

      color: #808080;

      box-shadow: 0 0 0px 1.5px transparent;

      transition: color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

      svg {
        width: 1rem;
        height: 1rem;
        vertical-align: middle;
        fill: #808080;
        margin-right: 0.2rem;

        transition: fill 0.2s ease-in-out;
      }

      .counts {
        color: #a1a1a1;

        font-size: 0.6rem;
        font-weight: 400;

        margin-left: 0.2rem;
      }

      &.active {
        box-shadow: 0 0 1px #0064f9;
        border-color: #0064f9;

        color: #0064f9;

        svg {
          fill: #0064f9;
        }
      }

      &-rounded {
        border-radius: 3rem;
      }

      &:hover:not(.active) {
        background-color: #e8e8e8;
      }
    }
  }
}

.custom-dropdown {
  position: relative;
  display: inline-block;

  &:not(:last-of-type) {
    margin-right: 0.6rem;
  }

  .btn-rounded {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 90%;
      left: 0;
      width: 100%;
      height: 0.85rem;
    }
  }

  &:hover {
    .dropdown-list {
      opacity: 1;
      pointer-events: all;
    }
  }

  .dropdown-list {
    position: absolute;
    top: 120%;
    right: 0.2rem;
    min-width: 10rem;
    padding: 0.2rem 0;
    background-color: #fff;
    box-shadow: 0px 0px 4px 0px rgba(77, 77, 77, 0.5);
    z-index: 10;
    border-radius: 0.2rem;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;

    &.show {
      opacity: 1;
      pointer-events: all;
    }

    & > button {
      display: block;
      width: 100%;
      padding: 0.4rem 1rem;
      text-align: start;
      font-size: 0.75rem;
      text-align: center;
      white-space: nowrap;

      &:hover {
        background-color: lighten(#888, 40);
      }
      .img {
        width: 0.65rem;
        margin-right: 0.2rem;
        vertical-align: middle;
      }
    }

    &::after,
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0.2rem;
      width: 0;
      height: 0;
      border: 5px solid #fff;
      border-color: transparent transparent #fff transparent;
      transform: translateY(-95%);
    }

    &::before {
      transform: translateY(-110%);
      border-color: transparent transparent darken(#fff, 15) transparent;
    }

    &.left-align {
      right: auto;
      left: 0;
      &::after,
      &::before {
        // left: auto;
        left: 0.2rem;
      }
    }
  }
}
